
.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.cartItem {
    width: 500px;
    height: 175px;
    display: flex;
  
    align-items: center;
    box-shadow: 0px 3px 15px #6205f633;
    border-radius: 25px;
    margin: 30px;
}
  
.cartItem img {
    width: 200px;
    object-fit:contain;
    aspect-ratio : 4/3;
}
  
.cartItem .description {
    width: 100%;
    font-size: 25px;
}
  
.countHandler input {
    width: 30px;
    text-align: center;
    font-weight: bolder;
}
.but{
    width: 50%;
    display: flex;
}
.but input{
    width: 90%;
    text-align: center;
}

.checkout button {
    width: 100%;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}

.count-handler{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}

.count-handler button{
    display: flex;
    align-items: center;
    justify-content: center;
}
