.outerModal{
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 100%, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerModal{
    background-color: #3B71CA;
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    border-radius: 10px;
}

.closeButtonModal{
    width: 32px;
    height: 32px;
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -3%;
    right: -3%;
    cursor: pointer;
}