.detailWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.detailCon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 20px;
    margin: 20px;
    border: 1px solid lightgray;
}

.detailCon form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.detailCon input{
    width: 98%;
    border-radius: 5px;
    border-width: 0.5px;
    /* background-color: blue; */
}

.detailCon button{
    border-radius: 2px;
    width: 98%;
    height: 30px;
    border: 1px solid;
    margin-top: 30px !important;
    border-radius: 5px;
}

.detailCon form > input + *{
    margin-top: 20px;
}