.navbar {
    width: 100%;
    height: 70px;
    background-color: rgb(56, 34, 153);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
.links {
    margin-right: 50px;
    display: flex;
    align-items: center;
}
  
.links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    
}

.signIn_button{
    font-size: 0.7rem;
    transition: font-size 0.4s ease ;
}

.signIn_button:hover{
    font-size: 1.3rem;
}   