.checkout{
    /* border: 1px solid black; */
    padding: 30px;
}

.checkoutDetails{
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    border-bottom: 1px solid rgb(186, 186, 186);
}

.checkoutDetailsBody{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4rem;
}

.checkoutProducts{
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(186, 186, 186);
}

.checkoutProductsBody{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4rem;
    /* border: 1px solid black; */
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 29rem;
}

.checkoutPayment{
    display: flex;
}

.checkoutPayment button{
    margin-left: 4rem;
}